body {

	font-family: 'Source Sans Pro', sans-serif;
	margin:15px;
}

ul {

	padding-left: 30px;
}

.header {

	width: 100%;
	border-bottom: 1px solid grey;
	text-align: center;
	font-size: 4vh;
	font-weight: bold;


}

.clearfix {

	clear: both;
}

.row {

	clear: both;

}

@media (max-width: 480px) {



}

.col-m1 {

	width:60%;
	float: left;
	padding-right: 30px;
	box-sizing: border-box;

}

.col-m2 {

	width: 40%;
	float: left;
	box-sizing: border-box;
}

.col-i1 {

	width: 15%;
	float: left;
	box-sizing: border-box;
}


.col-i2 {

	width: 85%;
	float: left;
	box-sizing: border-box;
}

.col-i3 {

	width: 30%; 
	float: left;

}


.col-i4 {

	width: 70%;
	float: left;

}

.col-s1 {

	max-width: 100%;
}

.col-s2 {

	max-width: 100%;
}

.no-bullets {

	list-style-type: none;
	padding: 0;
}

.hobbies li {

	display: inline-block;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 1%; 
	background-color: rgb(169, 0, 0);
	color: white;
}

h1 {

	color: #e60c0c;
}

.rojo {

	background-color: rgb(169, 0, 0);
	color: white;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 2px;
}

#python {

	width: 100%;
}

#html {

	width: 80%;	
}

#css {

	width: 60%;
}

#js {

	width: 40%;
}

#php {

	width: 20%;
}

.footer {

	padding: 20px;
	border-top: 1px solid grey; 

}
