body {

	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
}

.header {

	width: 100%;
	border-bottom: 1px solid grey;
	text-align: center;


}

.row {

clear: both;

}

.col-m1 {

	width:60%;
	float: left;

}

.col-m2 {

	width: 40%;
	float: left;
}

.col-i1 {

	width: 15%;
}


.col-i2 {

	width: 75%;
}


.col-s1 {

	max-width: 100%;
}

.col-s2 {

	max-width: 100%;
}

.no-bullets {

	list-style-type: none;
}

.hobbies li {

	display: inline-block;
}

h1 {

	color: #e60c0c;
}

#python
#html
#css
#js
#php

